body, html {
    height: 100%;
    margin: 0;
    color:white;
    font-family: "Montserrat";
}

.bg {
    /* The image used */
    background-image: url("../photos/test.jpeg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pseudo{
    width:100%;
    height:100%;
    background-color: rgba(192, 177, 189, 0.15);
}

.logo{
    width:70%;
    height:50%;
    text-align: center;
    margin:auto;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);


}

.tocenter{
    width: 100%;
    height:100%;
    position:relative;
}

.logo_p{
    width:50%;
    height:auto;
    margin:auto;
    position: absolute;
    top: 13.5%;
    left:25%;
    transform: translate(-50%, -50%);
}


.Heading1{
    margin:5%;

}

.Heading2{
    text-align: center;
}

.Narrations_section{
    position: relative;
    color:black;
    font-family: "Montserrat";
    height:30%;
    background-image: linear-gradient(to left, white , lightblue);
    text-align: center;
    height: 100%;
}
.Narrations_section>div{
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

}
.container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.btn{
    margin-top: 5%;
}


.Welcome{
    display: none;
    font-family: 'EB Garamond', serif;
    margin:5% auto;
}

/*burger*/
.menu-wrap{
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
}

.menu-wrap .toggler{
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    cursor:pointer;
    width:50px;
    height:50px;
    opacity: 0;
}

.menu-wrap .hamburger{
    position:absolute;
    top:0;
    left:0
    z-index:1;
    width:60px;
    height: 60px;
    padding: 1rem;
    background: rgba(255,255,255,0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div{
    position: relative;
    width: 100%;
    height:2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top:-10px;
    width:100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div:after{
    top:10px;
}

.menu-wrap .toggler:checked + .hamburger >div{
    transform:rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger >div:before,
.menu-wrap .toggler:checked + .hamburger >div:after{
    top:0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger>div{
    transform: rotate(225deg);
}

.menu-wrap .menu{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu>div{
    background:rgba(130, 98, 189,0.9);
    border-radius:50%;
    width:200vw;
    height: 200vw;
    display: flex;
    flex:none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu >div >div{
    text-align: center;
    width: 90vw;
    height: 100vh;
    opacity: 0;
    transition:opacity 0.4s ease;
}

.menu-wrap .menu >div>div>ul>li{
    list-style: none;
    color:white;
    font-size:1.5rem;
    padding: 1rem;
    margin-top: 50px;
}

.menu-wrap .menu >div>div>ul>li>a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;

}

.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: 3000;
}

.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition:opacity 0.4s ease;
}

.Quotes{
    color:#000;
    position: relative;
    color:black;
    font-family: "Montserrat";
    height:30%;
    text-align: center;
    height: 100%;
}

.Quotes>div{
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.Welcome_section{
    color:#000;
    position: relative;
    color:black;
    font-family: "Montserrat";
    height:30%;
    text-align: center;
    height: 100%;
}

.Welcome_section>div{
    width: 70%;
    margin: auto;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

}

.smile_head{
font-size: 6rem;
}

.row{
height: 300px;
background: red;
}