body, html {
    height: 100%;
    margin: 0;
    color:white;
    font-family: "Montserrat";
    scroll-behavior: smooth;
}

.row{
	height:30%;
}

.landing{
	background-image: url("../photos/test2.png");
    /* Full height */
  
	height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: cover;
   
}

.Welcome{
    display: none;
    font-family: 'EB Garamond', serif;
    margin:5% auto;
    position: absolute;
	bottom: 35%;
	left: 0;
	right: 0;

}

.scroll-down-text{
	font-family: 'EB Garamond', serif;
	position: absolute;
	bottom: 10%;
	text-align: center;
	color:white;
	width: 50%;
	margin: auto;
	left: 0;
	right: 0;
}

.scroll-down{
	position: absolute;
	bottom: 0;
	text-align: center;
	color:white;
	width: 50%;
	margin: auto;
	left: 0;
	right: 0;

}

.scroll-down1{
	position: absolute;
	bottom: 1%;
	text-align: center;
	color:white;
	width: 50%;
	margin: auto;
	left: 0;
	right: 0;

}

.test1,.test2,.test3{
	display: none;
}



.landing-content{
	
	

}

.landing-content{
	text-align: center;
}

.logo{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.container-fluid{
	padding: 0;
	width: 100%;
	height: 100%;
}

li{
	margin:0 5%;
	font-size: 1.5rem;
	color:white;
	width:20%;
}

.navbar{
	padding: 1% 0 0 0;
}

.navbar-brand{
	width: 100%;
	text-align: center;
}

ul{
	text-align: center;
}

.narr{
	background-image: url("../photos/mic.jpG");
	background-position: center;
    background-repeat: no-repeat;
    
    background-size: cover;
    height: inherit;
}

.main_content{
	height: 500px;
}

.Narrations_section{
	text-align: center;
	color:black;
	margin: 25% auto;
}

.bg{
	border: 1px solid gray;
	background: rgba(255,255,255,0.5);
}

.logo_li{
	margin: 0;
}

/*.nav-link{
	padding-top: 25%;
}*/

/*li:hover{
	text-decoration: underline;
}
*/
nav:scroll{
	background-color: rgba(0,0,0,1);
}

